# Below are all avaiable configuration options and their default values.
# This file is NOT required, unless you want to change something.
# To modfiy, simply create a new .env file with the desired value for only
# the variable that you want to change.

# =================================================================================
# Application Settings
# =================================================================================

# Port for the web application to run on
APP_PORT=8080
API_PORT=8000

# Number of workers for the uvicorn server to use for the API
UVICORN_WORKERS=2

# =================================================================================
# Data Ingest Settings
# =================================================================================

# Local data path - if set, ingest with use local data rather than AWS S3
# LOCAL_DATA_PATH=/path/to/data/files

# AWS Bucket to pull data from
INGEST_BUCKET=noaa-goes19

# Bucket prefix
INGEST_PREFIX=GLM-L2-LCFA/

# Number of seconds to wait before checking for new files
INGEST_POLL_SEC=60

# Number of hours to look back for data
INGEST_RECENT_HOURS=6

# Maximum number of files to check
INGEST_MAX_FILES=10

# Number of hours to retain files for
RETENTION_HOURS=12

# Limit data storage to bounding box
DATA_BOUNDS=-131.5,18.8,-62.8,52.2